<!--The content below is only a placeholder and can be replaced.-->
<!-- 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav navbar-right">
        <a class="nav-link"  routerLink="/" routerLinkActive="active">Home</a>&nbsp;
      <a class="nav-link"  routerLink="/About" routerLinkActive="active">About</a>&nbsp;
      <a class="nav-link" routerLink="/Samples"style="cursor:pointer" routerLinkActive="active" >Samples</a>&nbsp;
      <a class="nav-link" routerLink="/Contact" style="cursor:pointer" routerLinkActive="active"  >Contact</a>
      </ul>
    </div>
  </nav>     -->
  
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
      <h1 style="margin-left: 2px;"  class=" text-white mx-3 my-1">AKHILA E I <br><i style="font-size: 18px;">Full Stack Developer</i></h1><br>
     
    <div style=" margin-left:30%" class="my-5 d-flex">
      <a id="link" routerLink="/" class="nav-item nav-link mx-1">Home</a>        
      <a id="link"routerLink="/Samples" class="nav-item nav-link mx-1">Samples</a>
      <a id="link" routerLink="/About" class="nav-item nav-link mx-1">About</a>
      <a id="link" routerLink="/Contact"class="nav-item nav-link mx-1">Contact</a>       
 </div>
   
      </div>
    
</nav>