<div style="background-color: black;"class="py-3">
  <div style="text-align: center;">
      <img  class="mx-2" src="../../assets/image/fb.png" alt="">
      <img  class="mx-2" src="../../assets/image/lin.png" alt="">
      <img  class="mx-2" src="../../assets/image/tw.jpg" alt="">
  </div>
  <br>
   <div style="margin-left:15%" class="d-flex">

      <div style="color: blanchedalmond; text-align: left;">
          Portfolio Website Created By <br> Aghila <br> Version 1.0
      </div>
     
  
  <br>
  <p style="color: white; text-align: center;">Copyright@2020</p>
</div>
